// sass-lint:disable mixins-before-declarations
.catalog-section {
  .catalog-card {
    padding: 0 0.5px;
    margin-bottom: 90px;

    .image-holder {
      margin: 0 0 28px;

      .image-notch {
        width: 60px;
        height: 60px;
        left: 0;
        bottom: 0;

        @include media-breakpoint-down(sm) {
          height: 30px;
          left: unset;
          right: 0;
        }
      }
    }

    .info {
      position: relative;
      padding: 0 15px 0 60px;
      color: $dark-gray;
      font-size: 20px;
      line-height: 25px;

      @include media-breakpoint-down(sm) {
        padding: 0 15px;
        font-size: 15px;
      }

      h2 {
        font-size: 30px;
        line-height: 30px;
        margin: 0 0 40px;
        color: $matterhorn;
        font-weight: 700;

        @include media-breakpoint-down(sm) {
          font-size: 20px;
          margin: unset;
        }
      }

      p {
        font-weight: 300;
        margin: 0 0 28px;
      }

      .dates {
        color: $med-dark-gray;
        display: block;
        margin: 0 0 40px;

        @include media-breakpoint-down(sm) {
          font-size: 15px;
          margin-bottom: 20px;
        }
      }

      .deadline-text {
        color: $tundora;
        display: block;

        @include media-breakpoint-down(sm) {
          font-size: 12px;
        }
      }
    }
  }
}
