// sass-lint:disable mixins-before-declarations
.product-page {
  .header {
    position: relative;

    .container {
      height: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .title {
      h1,
      h2,
      h3 {
        color: white;
      }

      h1 {
        font-size: 3.5em;
      }

      h2 {
        font-size: 2.5em;
      }

      h3 {
        font-size: 1.5em;
      }

      @include media-breakpoint-only(xs) {
        h1 {
          font-size: 2.5em;
        }
      }
    }
  }

  .left-screen {
    position: relative;

    &::after {
      position: absolute;
      background-color: white;
      content: "";
      width: 9999px;
      height: 100%;
      top: 0;
      right: 100%;
    }
  }
}
