// sass-lint:disable mixins-before-declarations

html {
  scroll-behavior: smooth;
}

.three-column-image-text-section {
  .section-row {
    padding-bottom: 60px;

    .three-column {
      .col-border-padding {
        padding-left: 30px;
        padding-right: 30px;

        @include media-breakpoint-down(sm) {
          padding-right: 10px;
          padding-left: 10px;
        }
      }

      &:first-child {
        .col-border-padding {
          margin-left: 14.5%;

          @include media-breakpoint-down(sm) {
            margin-left: 0;
          }
        }

        .image-holder {
          &::after {
            width: calc(14.5% + 60px);

            @include media-breakpoint-down(sm) {
              width: 60px;
            }
          }
        }
      }

      &:last-child {
        .col-border-padding {
          margin-right: 14.5%;

          @include media-breakpoint-down(sm) {
            margin-right: 0;
          }
        }
      }

      .image-holder {
        position: relative;

        &::after {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 60px;
          height: 60px;
          background-color: white;
          content: "";
        }
      }
    }
  }

  h5,
  p {
    color: dimgray;
  }

  .col-border-padding {
    padding-left: 10px;
    border-left: 3px solid darkgrey;
    margin-top: 35px;
  }
}
