{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags render_bundle %}


{% block title %}{{ site_name }} | {{ page.title }}{% endblock %}

{% block content %}
  {% include "top_nav.html" %}
  <div class="home-page">
    <div class="header">
        <div class="container">
            <div class="row d-flex py-5 my-5">
                <div class="col-md-7 col-sm-12 d-flex flex-column justify-content-center title-column">
                    <div class="title-block">
                        <h1>{{ page.title }}</h1>
                        <h2>{{ page.tagline }}</h2>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12  d-flex flex-column justify-content-center description-column">
                    {{ page.description|richtext }}
                </div>
            </div>
        </div>
    </div>
  </div>
  {% if page.program_description_section %} {% include "partials/program-elements.html" with page=page.program_description_section %} {% endif %}
  {% if page.three_column_image_text_section %} {% include "partials/three-column-image-text-section.html" with page=page.three_column_image_text_section %} {% endif %}
  {% if page.alumni %} {% include "partials/homepage-alumni.html" with page=page.alumni %} {% endif %}
  {% if page.learning_resources %} {% include "partials/learning_resources_page.html" with page=page.learning_resources %} {% endif %}
{% endblock %}
