{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags render_bundle %}


{% block title %}{{ site_name }} | {{ page.title }}{% endblock %}

{% block content %}
  {% include "top_nav.html" %}
  <div class="product-page">
    <div class="header">
      {% image page.header_image fill-1920x1080 %}
      <div class="d-flex flex-column container-fluid">
          <div class="row flex-grow-1"></div>
          <div class="row">
              <div class="col-md-10 offset-md-2 title">
                  <h1>{{ page.title }}</h1>
                  <h2>{{ page.subhead }}</h2>
                  <h3>{{ page.bootcamp_run.start_date|date }} - {{ page.bootcamp_run.end_date|date }}</h3>
              </div>
          </div>
          <div class="row flex-grow-1"></div>
          <div class="row">
              <div class="col-md-8 col-sm-12 bg-white py-5">
                  <div class="row">
                      <div class="col-md-10 offset-md-2 col-sm-12 border-left">
                          {{ page.description|richtext }}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% if three_column_image_text_section %} {% include "partials/three-column-image-text-section.html" with page=three_column_image_text_section %} {% endif %}
  {% if program_description_section %} {% include "partials/program-description.html" with page=program_description_section %} {% endif %}
  {% if admissions_section %}{% include "partials/admissions-section.html" with page=admissions_section %}{% endif %}
  {% if page.instructors %} {% include "partials/instructor.html" with page=page.instructors %} {% endif %}
  {% if page.alumni %} {% include "partials/alumni.html" with page=page.alumni %} {% endif %}
  {% if page.learning_resources %} {% include "partials/learning_resources_page.html" with page=page.learning_resources %} {% endif %}
  </div>
{% endblock %}
