{% extends "base.html" %}
{% load render_bundle wagtailcore_tags %}

{% block title %}{{ site_name }} | {{ page.title }}{% endblock %}

{% block headercontent %}
<div id="header"></div>
{% render_bundle 'header' %}
{% endblock %}

{% block content %}
<section class="container resource-container">
  <h1> {{ page.title }} </h1>
  {% if page.content|length == 1 %}
    {% for block in page.content %}    
    <h2 class="text-uppercase" id="{{ block.value.heading|slugify }}">{{ block.value.heading }}</h2>
    <p>{{ block.value.detail }}</p>
    {% endfor %}
  {% else %}
    <div class="row">
      <div class="col-md-3">
        <ul class="resource-list">
          {% for block in page.content %}
          <li class="item">
            <a class="text-capitalize" href="#{{ block.value.heading|slugify }}">{{ block.value.heading }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-9">
      {% for block in page.content %}
        <h2 class="text-uppercase" id="{{ block.value.heading|slugify }}">{{ block.value.heading }}</h2>
        <p>{{ block.value.detail }}</p>
        <a href="#" class="back-to-top">Back to top</a>
      {% endfor %}
      </div>
    </div>
  {% endif %}
</section>
{% endblock %}
