{
  "extends": ["eslint-config-mitodl", "prettier"],
  "rules": {
      "no-prototype-builtins": [0]
  },
  "settings": {
    "react": {
      "version": "16.13.0",
      "flowVersion": "0.75.0" // Flow version
    }
  }
}
