{
  "extends": "eslint-config-mitodl",
  "rules": {
      "no-prototype-builtins": [0],
      "indent": ["error", 2, {
        "ignoredNodes": ["TemplateLiteral"]
      }]
  },
  "settings": {
    "react": {
      "version": "16.13.0",
      "flowVersion": "0.75.0" // Flow version
    }
  }
}
