Django==1.10.5
PyYAML==3.11
celery==4.0.2
dj-database-url==0.3.0
django-compat==1.0.15
django-hijack==2.1.7
django-hijack-admin==2.1.7
dj-static==0.0.6
django-redis==4.7.0
django-server-status==0.3.2
django-webpack-loader==0.4.1
djangorestframework==3.5.2
edx-api-client==0.6.1
factory_boy
faker
html5lib==0.999999999
ipython
newrelic
psycopg2==2.7.3.2
python-dateutil
pytz
raven
redis==2.10.5
requests>=2.20
social-auth-app-django==1.1.0
static3==0.5.1
urllib3>=1.24.2
uwsgi
