Django==2.2.18
celery==4.3.0
boto3==1.12.42
dj-database-url==0.3.0
django-anymail[mailgun]==6.1.0
dj-static==0.0.6
django-cache-memoize==0.1.7
django-classy-tags==1.0.0
django-compat==1.0.15
django-hijack==2.1.10
django-hijack-admin==2.1.7
django-filter==2.2.0
django-fsm==2.6.1
django-ipware==3.0.0
django-mathfilters==1.0.0
django-redis==4.7.0
django-server-status==0.5.0
django-webpack-loader==0.5.0
djangorestframework==3.11.2
djangorestframework-serializer-extensions==2.0.0
# Using specific Git commit for this lib until they release their support for TZ-aware dates
git+git://github.com/OTA-Insight/djangosaml2idp.git@e12319949dc4911657d0fff91c93317fdef691d4#egg=djangosaml2idp
djoser==2.1.0
dynamic-rest==2.0.0
html5lib==0.999999999
django-storages==1.9.1
ipython==7.22.0
newrelic==6.2.0.156
premailer==3.7.0
psycopg2==2.8.6
pycountry==19.8.18
PyNaCl==1.3.0
python-dateutil
pytz
redis==3.2.0
requests>=2.20
sentry-sdk==0.14.3
social-auth-app-django==4.0.0
static3==0.5.1
urllib3>=1.24.2
uwsgi
wagtail==2.9.3
zeep==3.4.0
Pillow==7.1.0
user-util==0.1.5
