{% load wagtailcore_tags image_version_url %}
<div id="faculty-block" class="instructor-block">
  <div class="banner">
    <img src="{% image_version_url page.banner_image "fill-1920x200" %}" alt="{{ page.name }}" />
  </div>
  <div class="container instructor-container">
    <div class="row instructors-header">
        <div class="col-lg-3 col-sm-4">
            {{page.heading|richtext}}
        </div>
        <div class="col-lg-9 col-sm-8 section-headings">
            {% for section in page.sections %}
              <h5>{{ section.value.heading }}</h5>
              {% if section.value.subhead|richtext %}
                <p class="subheading">{{ section.value.subhead }}</p>
              {% endif %}
            {% endfor %}
        </div>
    </div>
  </div>
  <div class="container instructors-container">
  {% for section in page.sections %}
    <div class="container">
      {% if forloop.counter > 1 %}
        <hr>
      {% endif%}
      <div class="slider slider-{{ forloop.counter }}">
        {% for member in section.value.members %}
          <div class="slide instructor">
            <div class="slide-holder">
              <img src="{% image_version_url member.value.image "fill-300x300" %}" alt="{{ member.value.name }}">
              <div class="text-holder">
                <span class="name">{{ member.value.name }}</span>
                <span class="title">{{ member.value.title }}</span>
                <strong class="designation">{{ section.value.heading_singular }}</strong>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  </div>
  <script>
    var totalSections = {{ page.sections|length }};

    for(i=1 ; i <= totalSections; i++){
      $(`.slider-${i}`).slick({
        rows:           0,
        slidesToShow:   4,
        slidesToScroll: 1,
        infinite:       false,
        autoplay:       false,
        responsive:     [
          {
            breakpoint: 1024,
            settings:   {
              slidesToShow:   4,
              slidesToScroll: 4,
            }
          },
          {
            breakpoint: 992,
            settings:   {
              slidesToShow:   3,
              slidesToScroll: 2,
            }
          },
          {
            breakpoint: 767,
            settings:   {
              slidesToShow:   1,
              slidesToScroll: 1,
            }
          }
        ]
      });
    }
  </script>
</div>

