{% extends "base.html" %}
{% load i18n render_bundle %}

{% block title %}MIT Bootcamps - Terms and Conditions{% endblock %}

{% block headercontent %}
<div id="header"></div>
{% render_bundle 'header' %}
{% endblock %}

{% block content %}
<div id="tos" class="text-info-page">
  <h2>TERMS AND CONDITIONS FOR OPEN ENROLLMENT</h2>
  <strong>Fees</strong>
  <p>
  The fee includes tuition, meals during the program, and course materials. The fee does not include accommodation,
  incidental costs of the attendees, or travel costs to and from the course site, unless stated otherwise. A deposit fee as
  set in the admission letter must be paid within 14 days of the date of acceptance (date of admissions letter). The
  balance of the fee ([fee-deposit fee] minus any scholarships received from MIT Bootcamps) must be fully paid one
  month before the start of the program. In the event that there is a difference between the payment due dates
  specified above and the admissions letter, we will follow the payment due date as indicated on the admissions letter.
  </p>
 <strong>Cancellation and Deferral Policies</strong>
 <p>
     All registrations made under this agreement will be subject to MIT Bootcamps' standard cancellation and deferral policies, including:
 </p>
 <ol>
    <li>
      All cancellations must be made in writing to <a href="mailto:bootcamp@mit.edu">bootcamp@mit.edu</a>. Cancellation fees are as follows:
      <ol type="a" class="ol-sub-lists">
          <li>56 days or more prior to the program start date: $250 administrative fee</li>
          <li>55-22 days prior to the program start date: 50% cancellation fee</li>
          <li>21 days or less prior to the program start date: 100% cancellation fee</li>
      </ol>
      <br/>
    </li>
    <li>
      All enrollment deferrals must be requested in writing to <a href="mailto:bootcamp@mit.edu">bootcamp@mit.edu</a>. Deferral fees,
        as a percentage of published tuition rates, are as follows:
      <ol type="a" class="ol-sub-lists">
          <li>56 days or more prior to the program start date: No fee</li>
          <li>55-22 days prior to the program start date: 25% fee</li>
          <li>21-7 days prior to the program start date: 50% fee</li>
          <li>7 days to program start date: 100% fee</li>
      </ol>
      <br/>
      Any fees incurred will be deducted from the initial payment received.
      <br/> <br/>
      Please note that there may be an increase in tuition for future sessions. If admission is deferred to a future
      program session, the participant must attend that session or all funds will be forfeited for that program
      registration. Only one deferral per registration is allowed and the new session must occur within one year of
      the original session date. There is no cancellation allowed on deferred admissions.
    </li>
 </ol>
 <strong>Ownership of Program Materials</strong>
 <p>
  MIT Bootcamps or other material contributors to the open enrollment programs solely own all the intellectual property
  or have obtained the necessary rights relating to the materials used for the open enrollment programs. Title to and the
  right to determine the disposition of any copyrightable materials first produced under the terms of Agreement solely
  by faculty or staff of MIT shall remain with MIT and will be governed by the MIT intellectual property policies. You
  must not copy, reproduce, republish,disassemble, decompile, reverse engineer, download, post, broadcast, transmit,
  make available to the public, or otherwise use MIT Bootcamps content in any way except for your own personal,
  non-commercial use. You also agree not to adapt, alter or create a derivative work from any MIT Bootcamps content
  except for your own personal, non-commercial use. Any other use of MIT Bootcamps content requires the prior
  written permission of the MIT Technology Licensing Office.
 </p>
 <p>
  MIT DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES, WHETHER EXPRESS OR IMPLIED, RELATING
  TO THE BOOTCAMP, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY,
  NONINFRINGEMENT, FITNESS FOR A PARTICULAR PURPOSE AND THE ABSENCE OF LATENT OR OTHER
  DEFECTS, WHETHER OR NOT DISCOVERABLE.
 </p>
 <strong>Governing Law</strong>
 <p>
   These terms and conditions will be governed by the laws of the Commonwealth of Massachusetts and the federal
   laws of the United States of America, without regard to any applicable conflict of laws principles.
 </p>
 <br/>
</div>
{% endblock %}
