@font-face {
  font-family: 'canterburyregular';
  src: url('../fonts/canterbury.regular-webfont.woff2') format('woff2'),
  url('../fonts/canterbury.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.certificate-page {
  background-color: $cert-page-bg;

  .certificate-logo {
    display: block;
    max-width: 250px;
    margin: 0 auto 15px;
    position: relative;

    img {
      display: block;
      width: 130px;
      height: 33px;
    }

    a {
      position: absolute;
      left: 0;
      top: 10px;
      width: 103px;
      height: 56px;

      &.bc {
        left: 149px;
        top: 22px;
        width: 98px;
        height: 33px;
      }
    }
  }
}

.cer-footer {
  margin: 0 auto;
  max-width: 1400px;
  border-top: 4px solid $cert-footer-border;
  padding: 60px 15px;
  font: 12px/17px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  &:after {
    clear: both;
    content: "";
    display: block;
  }

  .certificate-logo {
    float: right;
    width: 74px;
    margin: 30px 0 0 20px;
    position: relative;

    a {
      position: absolute;
      left: 0;
      top: 2px;
      width: 31px;
      height: 18px;

      &.bc {
        left: 44px;
        top: 6px;
        width: 30px;
        height: 11px;
      }
    }

    @include media-breakpoint-down(xs) {
      float: none;
      margin: 0 0 20px;
    }
  }

  .cer-footer-info {
    overflow: hidden;
  }

  a {
    color: $cert-anchor-color;
  }

  .copyright {
    display: block;
  }

  .links {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 15px 0 0;
    }
  }
}

.social-links {
  margin: 10px 0 20px 30px;
  list-style: none;
  padding: 0;
  float: right;

  li {
    @include media-breakpoint-down(xs) {
      margin: 0 10px 15px;
    }
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 15px;
  }

  img {
    width: 25px;
  }

  @include media-breakpoint-down(xs) {
    float: none;
    margin: 0;
    text-align: center;
  }
}

.cer-user-info {
  border: 1px solid $cert-share-ticker-border;
  background-color: $navy-blue;
  padding: 20px 0;
  font: 14px/17px Helvetica;
  color: white;

  h2 {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
  }

  p {
    margin: 0;
  }

  .user-info-holder {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 15px;
  }
}

.certificate-wrapper {
  padding: 30px 15px;
  max-width: 1400px;
  margin: 0 auto;
  font-family: "canterburyregular", serif;

  .certificate {
    border: 2px solid $cert-gray-light;
    background: white;
    padding: 35px 15px;
    text-align: center;
    color: black;

    .certificate-head {
      overflow: hidden;
      max-width: 960px;
      margin: 0 auto 20px;

      @media (min-width: 768px) {
        margin: 0 auto 50px;
      }

      @media (min-width: 1400px) {
        margin: 0 auto 70px;
      }

      .certificate-b-logo {
        float: left;
        width: 125px;

        @media (min-width: 768px) {
          width: 316px;
        }

        @media (min-width: 1400px) {
          width: 465px;
        }

        &:only-child {
          margin: 0 auto;
          float: none;
        }

        img {
          display: block;
          width: 100%;
          height: auto;

          @media (min-width: 320px) {
            height: 40px;
          }

          @media (min-width: 768px) {
            height: 70px;
          }

          @media (min-width: 1400px) {
            height: 105px;
          }
        }
      }
    }

    .certificate-c-logo {
      float: right;
      width: 125px;
      text-align: right;

      @media (min-width: 768px) {
        width: 294px;
      }

      @media (min-width: 1400px) {
        width: 440px;
      }

      img {
        display: block;
        width: 100%;
        height: auto;

        &.secondary-image {
          display: inline-block;
          max-width: 100%;
          width: auto;
          height: auto;

          @media (min-width: 320px) {
            height: 40px;
          }

          @media (min-width: 768px) {
            height: 70px;
          }

          @media (min-width: 1400px) {
            height: 105px;
          }
        }
      }
    }
  }

  .c-mit-logo {
    margin: 0 auto;
    width: 90px;
    padding-top: 20px;

    @media (min-width: 768px) {
      padding-top: 30px;
    }

    @media (min-width: 1400px) {
      padding-top: 60px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .granting-institute-text {
    display: block;
    line-height: 1.2;
    font-size: 20px;

    @media (min-width: 768px) {
      font-size: 31px;
    }

    @media (min-width: 992px) {
      font-size: 35px;
    }

    @media (min-width: 1400px) {
      font-size: 56px;
    }
  }

  .bootcamp-runname-text {
    display: block;
    line-height: 1.2;
    font-size: 32px;

    @media (min-width: 768px) {
      font-size: 50px;
    }

    @media (min-width: 1400px) {
      font-size: 70px;
    }
  }

  .completion-text {
    display: block;
    line-height: 1.2;
    font-size: 18px;
    margin: 0 0 22px;

    @media (min-width: 768px) {
      font-size: 27px;
      margin: 0 0 35px;
    }

    @media (min-width: 1400px) {
      font-size: 35px;
      margin: 0 0 60px;
    }
  }

  .learner-name-text {
    display: block;
    line-height: 1.2;
    font-size: 24px;
    font-style: italic;
    font-family: 'Times', Times New Roman, serif;
    margin: 0 0 12px;

    @media (min-width: 768px) {
      font-size: 36px;
      margin: 0 0 35px;
    }

    @media (min-width: 1400px) {
      margin: 0 0 60px;
      font-size: 48px;
    }
  }

  .awarded-text {
    display: block;
    line-height: 1.2;
    font-size: 18px;

    @media (min-width: 768px) {
      font-size: 27px;
    }

    @media (min-width: 1400px) {
      font-size: 35px;
    }
  }

  .certificate-name-text {
    display: block;
    line-height: 1.2;
    font-size: 28px;

    @media (min-width: 768px) {
      font-size: 42px;
    }

    @media (min-width: 1400px) {
      font-size: 55px;
    }
  }

  .general-text {
    display: block;
    line-height: 1.2;
    font-size: 24px;

    @media (min-width: 768px) {
      font-size: 36px;
    }

    @media (min-width: 1400px) {
      font-size: 45px;
    }
  }

  .location-text {
    display: block;
    line-height: 1.2;
    font-size: 24px;

    @media (min-width: 768px) {
      font-size: 36px;
    }

    @media (min-width: 1400px) {
      font-size: 45px;
    }
  }
}

.signature-list {
  padding: 20px 0 0;
  margin: 0 auto;
  max-width: 1000px;
  list-style: none;
  letter-spacing: -.32em;
  text-align: center;
  font-family: 'Times', Times New Roman, serif;

  @media (min-width: 768px) {
    padding: 30px 0 0;
  }

  @media (min-width: 1400px) {
    padding: 60px 0 0;
  }

  li {
    letter-spacing: normal;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px 20px;
    width: 50%;

    @media (min-width: 768px) {
      width: 20%;
    }

    p {
      margin: 0;
    }
  }

  .img-holder {
    border-bottom: 2px solid $cert-img-holder-color;
    padding: 0 0 3px;
    height: 53px;
    margin: 0 0 10px;

    img {
      display: inline-block;
      max-width: 85%;
      height: 50px;
      object-fit: contain;
    }
  }

  .signature-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $cert-img-holder-color;
  }
}

@media print {
  a {
    color: black !important;
  }

  #launcher {
    display: none;
  }

  .notifications.site-wide {
    display: none !important;
  }

  .full-width-print {
    max-width: 100%;
  }

  .certify-by-row {
    flex-wrap: nowrap;
  }

  .no-print {
    display: none;
  }

  @page {
    size: auto;
  }

  .c-mit-logo {

    padding: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
  }

  .certificate-page {

    .certificate-logo {
      max-width: 170px;
      margin: 0 auto 10px;
    }

    .certificate-wrapper {
      padding: 0;

      .certificate {
        border: 0;
        padding-top: 0;

        .institute-logo {
          max-width: 140px;
          margin-bottom: 10px;
        }
      }

      .certificate-head {
        margin: 0 auto 30px;

        .certificate-b-logo {
          width: 316px;
        }

        .certificate-c-logo {
          width: 294px;
        }
      }

      .granting-institute-text {
        font-size: 33px;
        line-height: 1;
      }

      .bootcamp-runname-text {
        font-size: 48px;
        line-height: 1;
      }

      .completion-text {
        font-size: 25px;
        margin: 0 0 10px;
        line-height: 1;
      }

      .learner-name-text {
        font-size: 34px;
        margin: 0 0 10px;
        line-height: 1;
      }

      .awarded-text {
        font-size: 25px;
        line-height: 1;
      }

      .certificate-name-text {
        font-size: 40px;
        line-height: 1;
      }

      .general-text {
        font-size: 34px;
        line-height: 1;
      }

      .location-text {
        font-size: 34px;
        line-height: 1;
      }
    }
  }

  .signature-list {
    padding: 10px 0 0;

    li {
      width: 20%;

      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
