.btn {
  border: none;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: normal;
  color: #fff;
}

a.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
