.btn {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  letter-spacing: normal;
  cursor: pointer;

  &.large-cta {
    background-image: linear-gradient(to right, $mit-brand 0%, $red-fade-to 100%);
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  &:hover {
    text-decoration: none;
    background: $red-hover;
  }

  &.large-font {
    font-size: 24px;
    line-height: 24px;
    height: 40px;
    width: 160px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
  }
}

.btn-red.btn-inverse {
  color: $button-red;
  border-color: $button-red;
  background-color: $white;
  border-width: 2px;
  font-weight: 600;

  &:disabled, &[disabled] {
    color: $med-dark-gray;
    border-color: $med-dark-gray;
  }
}

a.btn-text {
  cursor: pointer;
  text-decoration: none;
}

a.btn-link {
  cursor: pointer;
  text-decoration: none;
  color: $link-blue;

  &:hover {
    color: $link-blue;
  }
}

button.btn.large-cta {
  line-height: 53px;
}

label {
  letter-spacing: 1.04px;
  font-size: 18px;
}

input {
  padding: 8px;
  color: $input-color;
  font-size: $input-font-size;
  border: 1px solid $light-gray;
  border-radius: 5px;
}

::placeholder {
  color: $placeholder-color;
}

// Styles for hiding up/down arrows in number-type input
// sass-lint:disable no-vendor-prefixes
input[type=number] {
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor: pointer;
    display: block;
    width: 8px;
    color: #333;
    text-align: center;
    position: relative;
  }

  &::-webkit-inner-spin-button:before,
  &::-webkit-inner-spin-button:after {
    content: "^";
    position: absolute;
    right: 0;
    font-family: monospace;
  }

  &::-webkit-inner-spin-button:before {
    top: 0;
  }

  &::-webkit-inner-spin-button:after {
    bottom: 0;
    -webkit-transform: rotate(180deg);
  }
}
// sass-lint:enable no-vendor-prefixes

.dropdown.standard-select {
  .dropdown-toggle {
    background-color: $white;
    color: $default-text-color;
    border: 1px solid $black;
  }
}

.dropdown.full-width {
  position: relative;
  white-space: normal;

  .dropdown-toggle {
    width: 100%;
    padding-right: 24px;
  }

  .dropdown-toggle::after {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -2.5px;
  }

  .dropdown-menu {
    width: 100%;

    .dropdown-item:first-of-type {
      margin-top: 0;
    }
  }
}

// Adapted from http://codepen.io/fil_dev/pen/oZNXzw
.styled-select-container {
  $select-padding: 15px;
  $select-padding-l: $select-padding * 1.4;
  $select-border: 1px solid ;
  $select-border-radius: 0px;
  $select-color: $med-dark-gray;
  $caret-size: 8px;

  position: relative;
  display: inline-block;
  background-color: #fff;

  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: $caret-size * -0.3;
    right: $select-padding-l;
    width: 0;
    height: 0;
    border: $caret-size solid transparent;
    border-top-color: $input-color;
  }

  select {
    color: $input-color;
    display: inline-block;
    position: relative;
    box-shadow: none;
    appearance: none;
    padding: $select-padding ($caret-size * 3 + $select-padding-l) $select-padding $select-padding-l;
    border: $select-border;
    border-radius: $select-border-radius;
    background: transparent;
    font-size: $input-font-size;

    &:focus {
      outline: transparent;
    }

    &:-moz-focusring { // sass-lint:disable-line no-vendor-prefixes
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    option {
      background-color: #fff;
    }
  }
}

.recaptcha-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
