.btn {
  border: none;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: normal;
  color: #fff;
  cursor: pointer;

  &.large-cta {
    background-image: linear-gradient(to right, $mit-brand 0%, $red-fade-to 100%);
    border-radius: 3px;
    font-size: 16px;
    height: 60px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  &:hover {
    text-decoration: none;
    background: $red-hover;
  }
}

a.btn {
  display: inline-block;
  text-decoration: none;

  &.large-cta {
    line-height: 60px;
  }
}

button.btn.large-cta {
  line-height: 53px;
}

label {
  letter-spacing: 1.04px;
  font-size: 18px;
}

input {
  padding: 8px;
  color: $input-color;
  font-size: $input-font-size;
  border: 1px solid $light-gray;
  border-radius: 5px;
}

::placeholder {
  color: $placeholder-color;
}

// Styles for hiding up/down arrows in number-type input
// sass-lint:disable no-vendor-prefixes
input[type=number] {
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor: pointer;
    display: block;
    width: 8px;
    color: #333;
    text-align: center;
    position: relative;
  }

  &::-webkit-inner-spin-button:before,
  &::-webkit-inner-spin-button:after {
    content: "^";
    position: absolute;
    right: 0;
    font-family: monospace;
  }

  &::-webkit-inner-spin-button:before {
    top: 0;
  }

  &::-webkit-inner-spin-button:after {
    bottom: 0;
    -webkit-transform: rotate(180deg);
  }
}
// sass-lint:enable no-vendor-prefixes

// Adapted from http://codepen.io/fil_dev/pen/oZNXzw
.styled-select-container {
  $select-padding: 15px;
  $select-padding-l: $select-padding * 1.4;
  $select-border: 1px solid ;
  $select-border-radius: 0px;
  $select-color: $med-dark-gray;
  $caret-size: 8px;

  position: relative;
  display: inline-block;
  background-color: #fff;

  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: $caret-size * -0.3;
    right: $select-padding-l;
    width: 0;
    height: 0;
    border: $caret-size solid transparent;
    border-top-color: $input-color;
  }

  select {
    color: $input-color;
    display: inline-block;
    position: relative;
    box-shadow: none;
    appearance: none;
    padding: $select-padding ($caret-size * 3 + $select-padding-l) $select-padding $select-padding-l;
    border: $select-border;
    border-radius: $select-border-radius;
    background: transparent;
    font-size: $input-font-size;

    &:focus {
      outline: transparent;
    }

    &:-moz-focusring { // sass-lint:disable-line no-vendor-prefixes
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    option {
      background-color: #fff;
    }
  }
}
