.desc {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: $default-text-color;

  @include breakpoint(phone) {
    font-size: 20px;
    line-height: 25px;
  }
}

h3.section-header {
  display: flex;
  align-items: center;
  margin: 0;
  color: #000;
  font: bold 15px $sans-serif-font;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;

  hr {
    display: inline-block;
    border: none;
    height: 1px;
    background-color: $med-gray;
    margin-left: 15px;
    width: 70px;
  }
}

.text-info-page {
  $text-page-margin: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 0;

  h2, p, li {
    margin-bottom: $text-page-margin;
  }

  li ul {
    margin-top: $text-page-margin;
  }

  .ol-sub-lists {
    margin-top: 10px;
  }
}

.form-error {
  color: red;
}
