$static-path: "/static";

$toolbar-height: 36px;

$default-background-color: #ffffff;
$default-text-color: #000000;
$default-subtext-color: rgba(255, 255, 255, 0.9);
$input-color: #333;
$placeholder-color: #bbb;
$input-font-size: 16px;

$primary: #a31f34;
$medium-soft-light-gray: #e6e6e6;
$med-gray: #b1b1b1;
$med-dark-gray: #707070;
$dark-gray: #202020;
$red-fade-to: #d22843;
$red-hover: #e01c3c;
$mit-brand: #a31f34;
$black-transparent: rgba(0, 0, 0, 0.9);

$light-gray: #c2c0bf;
$soft-light-gray: #d8d8d8;
$white-smoke: #f1f1f1;
$link-blue: #126f9a;
$light-blue: #15729b;
$cornflower-blue: #579cf9;
$tab-color: #c2c0bf;

$artsy-font: PT Serif, "Times New Roman", Helvetica, Arial, sans-serif;
$sans-serif-font: Lato, sans-serif;
$table-header-font: 13px normal $sans-serif-font;
$navy-blue: #355b6b;
$matterhorn: #505050;
$gray-42: #6b6b6b;
$alabaster: #f9f9f9;
$gray-80: #ccc;
$wewak: #eb654d;
