$light-gray: #e6e6e6;
$med-gray: #b1b1b1;
$med-dark-gray: #707070;
$dark-gray: #202020;
$red: rgb(223, 17, 56);
$red-fade-to: rgb(217, 71, 32);
$red-hover: #dc032c;

$input-color: #333;
$placeholder-color: #bbb;
$input-font-size: 16px;

$artsy-font: PT Serif, "Times New Roman", Helvetica, Arial, sans-serif;
$sans-serif-font: Lato, sans-serif;
