$static-path: '/static';
$primary: #a31f34;
$light-gray: #e6e6e6;
$med-gray: #b1b1b1;
$med-dark-gray: #707070;
$dark-gray: #202020;
$red-fade-to: #d22843;
$red-hover: #e01c3c;
$mit-brand: #a31f34;
$black-transparent: rgba(0, 0, 0, 0.9);

$light-gray: #8a8b8c;
$very-light-gray: #f5f5f5;
$soft-light-gray: #d8d8d8;
$white-smoke: #f1f1f1;
$link-blue: #126f9a;
$light-blue: #15729b;
$cornflower-blue: #579cf9;
$tab-color: #c2c0bf;
$primary: #a31f34;

$default-text-color: #fff;
$default-subtext-color: rgba(255, 255, 255, 0.9);
$input-color: #333;
$placeholder-color: #bbb;
$input-font-size: 16px;

$artsy-font: PT Serif, "Times New Roman", Helvetica, Arial, sans-serif;
$sans-serif-font: Lato, sans-serif;
$table-header-font: 13px normal $sans-serif-font;
