$thumbnail-img-height: 132px;

h2.name {
  margin: 25px 0;
}

.application-card {
  border: 1px solid $black;
  padding: 18px;
  margin-bottom: 20px;
  min-height: $thumbnail-img-height;

  .label {
    color: $med-dark-gray;
  }

  .run-details {
    .w-100 {
      margin-bottom: 8px;
    }

    .label {
      max-width: 105px;
    }

    .text {
      min-width: 170px;
    }
  }

  .status-col * {
    white-space: nowrap;
  }
}
