$thumbnail-img-height: 132px;
$progress-section-height: 110px;
$progress-circle-size: 60px;
$checkmark-size: 34px;
$border-style: 1px solid $black;

.application-card {
  border: $border-style;
  margin-bottom: 20px;
  min-height: $thumbnail-img-height;

  .row:before, .row:after {
    content: none;
  }

  img {
    align-self: start;
  }

  .label {
    color: $med-dark-gray;
  }

  h2 a {
    display: inline-flex;
    align-items: center;

    i {
      padding-left: 3px;
    }

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: $link-blue;
    }
  }

  .run-details {
    .w-100 {
      margin-bottom: 8px;
    }

    .label {
      max-width: 105px;
    }

    .text {
      min-width: 170px;
    }
  }

  .status-col * {
    white-space: nowrap;
  }

  .application-detail {
    border-top: $border-style;

    .detail-content {
      align-items: flex-start;
      align-content: flex-start;
      flex-grow: 1;
      flex-shrink: 1;
      border-bottom: $border-style;

      h3 {
        width: 100%;
      }
    }

    .progress-meter {
      position: relative;
      width: $progress-section-height;
      min-height: $progress-section-height;
      flex-grow: 0;
      flex-shrink: 0;

      .top-line, .bottom-line {
        position: absolute;
        width: 16px;
        margin-left: -8px;
        left: 50%;
        z-index: 0;
        background-color: $light-gray;
      }

      .top-line {
        top: 0;
        height: 33%;
      }

      .bottom-line {
        bottom: 0;
        height: 66%;
      }

      .check {
        position: absolute;
        width: $progress-circle-size;
        height: $progress-circle-size;
        top: 50%;
        left: 50%;
        margin-top: -($progress-circle-size * 0.75);
        margin-left: -$progress-circle-size/2;
        border-style: none;
        border-radius: $progress-circle-size/2;
        z-index: 1;
        background-color: $light-gray;

        i {
          position: absolute;
          top: ($progress-circle-size - $checkmark-size)/2;
          left: 50%;
          margin-left: -$checkmark-size/2;
          font-size: $checkmark-size;
          font-weight: 600;
          color: $white;
        }
      }
    }

    .fulfilled .progress-meter {
      .check, .bottom-line {
        background-color: $success;
      }
    }

    .fulfilled + .detail-section {
      .progress-meter .top-line {
        background-color: $success;
      }
    }

    .detail-section:first-of-type .top-line {
      display: none;
    }

    .detail-section:last-of-type .bottom-line {
      display: none;
    }

    .detail-section:last-of-type .detail-content {
      border-bottom: none;
    }
  }

  .view-statement {
    a {
      display: inline-flex;

      &:hover {
        text-decoration: none;  // this looks weird to me when it's not disabled
      }

      .material-icons {
        width: 24px;
        margin-right: 10px;

      }
    }
  }

  .collapse-link {
    text-align: right;
  }
}

.take-video-interview {
  p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 50px;
  }

  a {
    color: black;

    &:hover {
      color: black;
    }
  }
}

.application-card-footer {
  letter-spacing: 1.5px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;

  li {
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
  }

  .collapse-link {
    margin-left: 100px;
  }

  .view-statement {
    color: $link-sky-blue;
    font-weight: 300;
  }

  .btn-view-certificate {
    background-color: $btn-blue;
    border-radius: 5px;
    border-style: none;
    color: $btn-text-white;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin-top: -5px;
    vertical-align: middle;

    span {
      display: inline-block;
      padding-right: 8px;
      vertical-align: top;
    }
 }
}
