.auth-page {
  max-width: 600px;
  padding-top: 15px;
  padding-bottom: 35px;

  &.registration-page {
    max-width: 800px;
  }

  h1 {
    @include media-breakpoint-down(xs) {
      font-size: 28px;
    }
  }

  b {
    font-weight: 600;
  }

  h4 {
    @include media-breakpoint-down(xs) {
      font-size: 16px;
    }
  }

  &.account-settings-page {
    max-width: 800px;

    .email-section {
      margin: 30px 0 0;
      border: 1px solid $tab-color;
      border-width: 1px 0 0;
      padding: 23px 0 0;

      h4 {
        font-size: 23px;
        line-height: 28px;
        font-weight: 600;
        margin-top: 5px;
        padding-bottom: 10px;
      }
    }
  }
}

.auth-header {
  text-align: left;
  padding: 40px 0 0 40px;
}

.auth-step {
  text-align: right;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 19px;
  margin-top: -18px;
  padding-bottom: 21px;
  width: 100%;
}

.auth-card {
  @include media-breakpoint-down(sm) {
    padding: 20px;
  }

  @include media-breakpoint-down(xs) {
    padding: 15px 0;
  }

  text-align: left;
  padding: 40px;
  width: 100%;

  h2 {
    width: inherit;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    width: inherit;
  }
}

.registration-page .bootcamp-form {
  .row-inner {
    margin-top: 20px;
  }

  .col {
    align-self: flex-start;
  }
}

.additional-street {
  cursor: pointer;
  color: $light-blue;
  font-style: italic;
  border: none;
  background: none;
}

.register-error-icon {
  margin: 0 auto 15px;

  background-image: url(/static/images/icon-warning.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.required {
  font-weight: bold;
  float: left;
}

.profile-row {
  font-family: Helvetica;
  font-size: 18px;
  margin-bottom: 10px;
}

.profile-button-col {
  text-align: end;
}

.profile-btn {
  color: black;
  background-color: white;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  font-family: Lato, Helvetica, sans-serif;
  box-sizing: border-box;
  height: 31px;
  width: 71px;
  border: 1px solid $outline-red;
  border-radius: 5px;

  &:hover {
    color: white;
    background-color: $outline-red;
  }
}

.profile-label {
  color: $label-gray;
  width: 201px;

  &:after {
    content: ": ";
  }
}

.profile-display {
  .divider {
    border-top: 1px solid black;
    padding-top: 10px;
  }
}
