button.borderless {
  background: none;
  padding: 0;
  display: inline;
  border: none;
}

button.button-with-loader {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}
