.mdc-drawer {
  top: 0;
}

.mdc-drawer--open {
  width: 100%;
  max-width: 600px;

  .mdc-drawer__content {
    right: 0;
    max-width: 600px;
  }
}

.drawer-wrapper {
  @include media-breakpoint-down(sm) {
    padding: 15px 20px 20px;
  }

  @include media-breakpoint-down(xs) {
    padding: 15px;
  }

  padding: 15px 35px 35px;

  h2 {
    text-transform: uppercase;
  }

  .drawer-close {
    @include media-breakpoint-down(sm) {
      padding-bottom: 10px;
      margin-bottom: 20px;
    }

    line-height: 24px;
    font-size: 24px;
    border-bottom: 1px solid $black;
    padding-bottom: 15px;
    margin-bottom: 30px;

    button {
      height: 24px;
    }
  }

  h1 {
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  input {
    &::placeholder {
      color: $label-gray;
      line-height: 22px;
      letter-spacing: 1.95px;
      font-size: 18px;
    }
  }
}
