.payment-drawer {
  .drawer-title {
    text-transform: uppercase;
  }

  .bootcamp {
    margin-top: 20px;
    line-height: 30px;

    .bootcamp-title {
      font-weight: 600;
    }
  }

  .payment-amount {
    margin-top: 24px;
  }

  .bootcamp, .payment-amount {
    font-size: 18px;
  }

  .payment-deadline {
    font-size: 16px;
    line-height: 29px;
    margin-top: 20px;
    font-weight: 600;
  }

  .payment-input-container {
    display: flex;
    flex-direction: row;
    margin-top: 29px;

    input {
      border: 1px black solid;

      &::placeholder {
        color: $label-gray;
        line-height: 22px;
        font-size: 18px;
      }
    }

    button {
      margin-left: 20px;
      font-weight: 600;
      min-width: 100px;
    }
  }

  .terms-and-conditions {
    margin-top: 24px;
    line-height: 29px;
    font-size: 16px;
  }
}

.payment-history {

  .inner-container {
    margin: 5px;
    padding: 20px 15px;
  }

  .payment-history-header {
    display: flex;
    flex-direction: row;
    align-content: space-between;

    a {
      font-size: 18px;
      font-weight: 400;
      margin-left: auto;
      color: $link-blue;
      border: 1px solid $link-blue;
      border-radius: 5px;
      padding: 10px 40px;
      cursor: pointer;
      display: inline-flex;

      .material-icons {
        width: 24px;
        margin-right: 10px;
      }
    }
  }

  .order-container {
    background-color: $very-light-gray;
  }

  .key {
    color: $trolley-gray;
  }

  .summary-key {
    font-weight: 600;
  }

  .row {
    margin: 10px 0;
  }
}
