// sass-lint:disable mixins-before-declarations

#footer {
  background: white;
  overflow: hidden;
}

.footer-top {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  .links-info {
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    h2 {
      font-size: 22px;
      line-height: 25px;
      margin: 12px 0 0;
      font-weight: 700;
      @include media-breakpoint-down(sm) {
        margin: 0;
      }
    }

    a {
      color: $matterhorn;
      text-decoration: underline;
    }
  }

  .hbspt-form {

    label {
      display: none;
    }

    .hs-email {

      display: inline-block;
      vertical-align: top;
      width: calc(100% - 35px);
      margin: 0 10px 0 0;

      .hs-input {
        border: 1px solid gray;
        padding: 5px 10px;
        width: 100%;
      }
    }

    .hs_submit {
      display: inline-block;
      vertical-align: top;
      margin: 11px 0 0;
      line-height: 0;
    }

    .hs-button {
      color: white;
      background: url("#{$static-path}/images/arrow-circle-right.svg") no-repeat;
      background-size: 18px 18px;
      border: none;
      padding: 0;
      opacity: .7;
      width: 18px;
      height: 18px;
      cursor: pointer;
      text-indent: -9999px;
      overflow: hidden;
    }

    .hs_error_rollup {
      display: none;
    }

    .submitted-message {
      margin-left: 0;
      color: $mit-brand;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 14px;
      text-align: center;
      width: auto;
      padding: 10px 0 5px;
    }

    .no-list {
      margin: 0 0 -35px;
      padding: 5px 0 0;
      list-style: none;

      label {
        display: block;
        font-size: 12px;
        line-height: 15px;
        color: $primary;
      }
    }
  }
}

.subscribe-form {
  width: 100%;
  margin: 5px 0 0;

  @include media-breakpoint-down(sm) {
    margin: 0 0 15px;
    width: 100%;
  }
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 20px;
  background: $white-smoke-dark;
  /* to carry the background to corners on both left and right sides
     the big number to make it work on the bigger screens */
  padding-left: 999px;
  margin-left: -999px;
  padding-right: 999px;
  margin-right: -999px;

  @include media-breakpoint-down(sm) {
    padding-top: 20px;
  }

  .links {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 20px;

    li {
      margin: 0 0 10px;
      font-size: 16px;

      a {
        color: $dim-gray;
      }
    }
  }

  .address-area {
    margin: 0 auto;
    max-width: 270px;
    @include media-breakpoint-down(sm) {
      margin: 0 0 15px;
      max-width: 100%;
    }

    img {
      height: 35px;
      width: 130px;
    }
  }

  address {
    font-size: 14px;
    line-height: 20px;
    color: gray;
    margin: 0 0 10px;
  }
}

.social-networks {
  margin: 0;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
    font-size: 15px;
    line-height: 30px;
    text-align: center;

    &.facebook {
      a {
        &:after {
          background: $facebook;
        }
      }
    }

    &.linkedin {
      a {
        &:after {
          background: $linkedin;
        }
      }
    }

    &.twitter {
      a {
        &:after {
          background: $twitter;
        }
      }
    }

    &.youtube {
      a {
        &:after {
          background: $youtube;
        }
      }
    }

    &.instagram {
      a {
        &:after {
          background: radial-gradient(circle farthest-corner at 35% 100%, #fec564, transparent 50%),
          radial-gradient(circle farthest-corner at 10% 140%, #feda7e, transparent 50%),
          radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
          radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
          radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
          radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
          radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
          linear-gradient(#6559ca, #bc318f 30%, #e42e66 50%, #fa5332 70%, #ffdc80 100%);
        }
      }
    }

    &.soundcloud {
      a {
        &:after {
          background: $soundcloud;
        }
      }
    }

    a {
      color: black;
      display: block;
      width: 30px;
      height: 30px;
      position: relative;
      transition: all 0.25s ease-in-out;

      &:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        content: "";
        background: black;
        height: 0;
        transition: all 0.25s ease-in-out;
      }

      &:hover {
        color: $default-text-color;

        &:after {
          height: 100%;
        }
      }

      i {
        position: relative;
        z-index: 1;
      }
    }
  }
}
