@import "node_modules/@material/dialog/dist/mdc.dialog";
@import "node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "breakpoints";
@import "inputs";
@import "shared";
@import "footer";
@import "login";
@import "payment";
@import "toast";
@import "statement";
@import "resource";
@import "auth";
@import "user-menu";
@import "cms/product";

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;

  .standard-layout {
    background-color: $dark-gray;
    color: $default-text-color;
    text-align: center;
  }
}

.top-content-container {
  padding: 20px 30px 0 30px;
}

.photo-bg {
  /* background-image from background-images.css */
  min-height: 500px;

  &.top-content-container {
    padding: 17vh 0 25px 0;
  }

  p {
    max-width: 725px;
    margin: 0 auto 60px auto;
    color: $default-subtext-color;
  }

  a:link, a:hover, a:visited {
    color: $default-subtext-color;
  }

  @include breakpoint(phone) {
    height: 500px;
    min-height: none;
  }
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 1px;

  @include breakpoint(phone) {
    font-size: 2em;
  }
}

.body-rows {
  min-height: calc(100vh - 251px);
}

.navbar {
  background-color: $mit-brand;
  border-radius: 0;
  height: auto;
  min-height: 45px;
  padding: 10px 27px 8px 33px;

  @include breakpoint(phone) {
    padding: 10px 18px;
  }
}

.navbar-brand {
  padding: 22px 20px;
}

.navbar-header {
  width: 100%;
  padding: 0;

  .pull-left {
    position: relative;
    top: 2px;
    float: left;

    @include breakpoint(phone) {
      float: none;
      width: 100%;
    }

    .brand-logo {
      top: 5px;
      margin-right: 15px;
      float: left;
      background-repeat: no-repeat;
      height: 36px;
      width: 51px;
      overflow: visible;
      position: relative;
      background-image: url(/static/images/mit_logo.svg);

      @include breakpoint(phone) {
        margin-right: 10px;
      }
    }

    .divider-large {
      width: 1px;
      height: 32px;
      margin: 3px 18px 0 0;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      float: left;

      @include breakpoint(phone) {
        margin: 3px 10px 0 0;
      }
    }

    .bootcamp-logo {
      height: 46px;
      width: 250px;
      top: 0;
      float: left;
      background-repeat: no-repeat;
      background-size: 166px;
      overflow: visible;
      position: relative;
      background-image: url(/static/images/bootcamp-logo.png);
    }
  }

  .pull-right {
    float: right;

    a.header-dashboard-link {
      display: inline-block;
      margin: 0 25px 0 0;
      padding: 12px 0;
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      position: relative;

      @include breakpoint(phone) {
        padding: 10px 12px;
        background: rgba(0,0,0,.1);
        border-radius: 3px;
        color: rgba(255,255,255,.8);
        margin-right: 0;
      }
    }
  }
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  display: table;
  content: " ";
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
  clear: both;
}
