@import "node_modules/@material/dialog/dist/mdc.dialog";
@import "node_modules/@material/drawer/dist/mdc.drawer";
@import "node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "breakpoints";
@import "inputs";
@import "shared";
@import "footer";
@import "landing";
@import "login";
@import "payment";
@import "toast";
@import "statement";
@import "resource";
@import "auth";
@import "user-menu";
@import "application";
@import "notification";
@import "cms/product";
@import "drawer";
@import "ecommerce";
@import "slick";
@import "icomoon";
@import "review";
@import "cms/three-column-image-section";
@import "cms/instructor";
@import "cms/program-description.scss";
@import "cms/topnav";
@import "cms/alumni";
@import "cms/learning_resources";
@import "cms/home-page";
@import "cms/admissions-section";
@import "cms/global-alumni";

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;

  .standard-layout {
    background-color: $default-background-color;
    color: $default-text-color;
    text-align: left;
    padding-top: 30px;
  }
}

body .standard-layout.deprecated-styling {
  padding-top: 0;
  text-align: center;

  h1 {
    color: $white;
  }
}

.top-content-container {
  padding: 20px 30px 0 30px;
}

.body-rows {
  min-height: calc(100vh - 251px);
}

.navbar {
  background-color: $white;
  border-radius: 0;
  border-bottom: 1px solid $black;
  min-height: $toolbar-height;
  padding: 3px 27px 3px 33px;

  @include breakpoint(phone) {
    padding: 3px 18px;
  }
}

.navbar-brand {
  padding: 22px 20px;
}

.navbar-header {
  width: 100%;
  padding: 0;

  .pull-left,
  .pull-right {
    line-height: $toolbar-height;
  }

  .pull-left {
    position: relative;
    float: left;

    @include breakpoint(phone) {
      float: none;
      width: 100%;
    }

    .brand-logo {
      top: 5px;
      margin-right: 15px;
      float: left;
      background-repeat: no-repeat;
      height: 36px;
      width: 51px;
      overflow: visible;
      position: relative;
      background-image: url(/static/images/mit_logo.svg);

      @include breakpoint(phone) {
        margin-right: 10px;
      }
    }

    .divider-large {
      width: 1px;
      height: 32px;
      margin: 3px 10px 0 0;
      border-left: 1px solid $default-text-color;
      float: left;

      @include breakpoint(phone) {
        margin: 3px 10px 0 0;
      }
    }

    .bootcamp-link {
      color: $default-text-color;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      line-height: 36px;
    }
  }

  .pull-right {
    float: right;

    a.header-dashboard-link {
      display: inline-block;
      margin: 0 25px 0 0;
      color: $default-text-color;
      font-weight: 400;
      font-size: 16px;
      text-decoration: none;
      position: relative;

      &.reverse {
        color: #fff;
        background-color: black;
        font-size: 12px;
        padding: 0 10px 0 10px;
        line-height: 2.5em;
        border-radius: 0px;
        margin: 0px;
      }

      @include breakpoint(phone) {
        padding: 10px 12px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        color: rgba(255, 255, 255, 0.8);
        margin-right: 0;
      }
    }
  }
}

.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.btn-group-vertical > .btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.modal-header:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
  clear: both;
}
