@import "variables";
@import "breakpoints";
@import "inputs";
@import "footer";
@import "login";
@import "payment";

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.body-row {
  display: flex;
}

.body-content {
  /* background-image from background-images.css */
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  min-height: 800px;
  width: 100%;
  margin: 0 auto;

  .body-inner-content {
    width: 90%;
    margin: 25px auto 0 auto;
    padding-top: 50px;
  }
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 1px;
}

.desc {
  font-size: 26px;
  line-height: 37px;
  font-weight: 300;
  color: rgba(255,255,255,1);
}
