.body-content .body-inner-content#home {
  padding-top: 26vh;
}

#home {
  text-align: center;

  p {
    max-width: 725px;
    margin: 0 auto 60px auto;
    color: rgba(255,255,255,.9);
  }

  .btn {
    width: 265px;
  }
}


