#pay {
  background-color: $dark-gray;

  .payment-section {
    padding: 100px 0;

    h1 {
      margin: 0 0 30px 0;
    }
  }

  .klass-select-section {
    padding-bottom: 50px;
  }

  .deadline-message {
    color: $default-subtext-color;
    font-size: 16px;
    padding-top: 15px;
  }

  .tac {
    color: $default-subtext-color;

    a {
      color: $default-subtext-color;

      &:visited {
        color: $default-subtext-color;
      }

      &:hover {
        color: $default-subtext-color;
      }

      &:active {
        color: $default-subtext-color;
      }
    }
  }

  .payment {
    display: flex;
    flex-direction: column;
    max-width: 285px;
    margin: 0 auto;
    padding-top: 25px;

    input {
      margin: 0 0 25px 0;
      width: 100%;
      box-sizing: border-box;
    }
  }

  .payment-history-section {
    background-color: $light-gray;
    text-align: left;

    .payment-history-block {
      max-width: 850px;
      margin: 0 auto;
      padding: 60px 10px;

      table {
        margin: 45px 0 0 0;
        padding: 0;
        border-collapse: collapse;
        color: $med-dark-gray;
        font-family: $artsy-font;
        font-size: 18px;
        width: 100%;

        th {
          font: $table-header-font;
          text-transform: uppercase;
          padding-bottom: 10px;
        }

        .col1 {
          width: 45%;
        }

        .col2 {
          width: 33%;
        }

        .col3 {
          width: 20%;
        }

        td {
          padding-right: 7px;
        }
      }

      .statement-column {
        color: $mit-brand;
        text-transform: uppercase;
        white-space: nowrap;

        i {
          position: relative;
          top: 8px;
          font-size: 26px;
        }

        a {
          color: $mit-brand;
          font-family: $sans-serif-font;
          font-size: 11px;
          display: inline-block;
          text-decoration: none;
          padding: 0 0 15px 15px;
        }
      }
    }
  }

  .klass-display-section {
    .mdc-dialog {
      .mdc-dialog__surface {

        .mdc-dialog__title {
          color: black;
          border-bottom: 1px solid gray;
        }

        .mdc-dialog__content {
          padding: 30px;

          .overpay-confirm {
            font-size: 20px;
            color: black;
          }
        }
      }
    }
  }
}
