#pay {
  background-color: $dark-gray;

  .payment-section {
    padding: 100px 0;

    h1 {
      margin: 10px 0 30px 0;
    }
  }

  .klass-select-section {
    padding-bottom: 50px;
  }

  .deadline-date {
    color: rgba(255,255,255,.7);
    font-size: 16px;
    padding-top: 15px;
  }

  .payment {
    display: flex;
    flex-direction: column;
    max-width: 285px;
    margin: 0 auto;
    padding-top: 25px;

    input {
      margin-bottom: 25px;
    }
  }

  .payment-history-section {
    background-color: $light-gray;
    text-align: left;

    .payment-history-block {
      max-width: 850px;
      margin: 0 auto;
      padding: 60px 10px;

      h3 {
        padding: 0 0 45px 0;
        margin: 0;
        color: #000;
        font-family: $sans-serif-font;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;

        &::after {
          content: " ";
          display: inline-block;
          background-color: $med-gray;
          margin-left: 15px;
          height: 1px;
          width: 70px;
          position: relative;
          bottom: 5px;
        }
      }

      table {
        margin: 0;
        padding: 0;
        border-collapse: collapse;
        color: $med-dark-gray;
        font-family: $artsy-font;
        font-size: 18px;
        width: 100%;

        th {
          font-family: $sans-serif-font;
          font-size: 13px;
          font-weight: normal;
          text-transform: uppercase;
          padding-bottom: 10px;
        }

        .col1 {
          width: 45%;
        }

        .col2 {
          width: 33%;
        }

        .col3 {
          width: 20%;
        }

        td {
          padding-right: 7px;
        }
      }

      .statement-column {
        color: $mit-brand;
        text-transform: uppercase;
        white-space: nowrap;

        i {
          position: relative;
          top: 8px;
          font-size: 26px;
        }

        a {
          color: $mit-brand;
          font-family: $sans-serif-font;
          font-size: 11px;
          display: inline-block;
          text-decoration: none;
          padding: 0 0 15px 15px;
        }
      }
    }
  }
}
