// sass-lint:disable mixins-before-declarations

html {
  scroll-behavior: smooth;
}

.resource-container {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #000000;
  font-size: 16px;
  line-height: 28px;

  h1 {
    font-size: 32px;
    line-height: 38px;
    color: $night-rider;
    font-weight: 700;
    margin: 0 0 80px;

    @include media-breakpoint-down(sm) {
      margin: 0 0 20px;
      font-size: 25px;
      line-height: 30px;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 5px;
  }

  p {
    margin: 0 0 30px;
  }

  .resource-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 50px;
      @include media-breakpoint-down(sm) {
        margin: 0 0 15px;
      }
    }

    a {
      color: black;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .col-md-3 {
    border-right: 1px solid black;

    @include media-breakpoint-down(sm) {
      border: none;
    }
  }
}
