.resume-linkedin-drawer {
  p, .caption, .uploaded, .file-types {
    color: $med-dark-gray;
  }

  .uploaded {
    text-overflow: ellipsis;
    overflow-x: hidden;

    strong {
      color: $black;
      white-space: nowrap;
    }
  }

  // react-dropzone-uploader styles (third party file upload drag-and-drop library)
  .dzu-dropzone {
    border: 1px dashed $input-border-color;
    border-radius: $input-radius;
    background-color: $very-light-gray;
    text-align: center;
    color: $black;

    input.dzu-input {
      position: fixed;
      opacity: 0;
      display: initial;
    }

    .file-types {
      font-size: 16px;
    }

    button.dzu-submitButton {
      color: $white;
      background-color: $button-red;
      border-color: $button-red;

      &:disabled, &[disabled] {
        color: $white !important;
        background-color: $btn-disabled-gray !important;
        border-color: $btn-disabled-gray !important;
      }
    }
  }
}
