.review-card {
  &.review-panel-right {
    border-left: 1px solid black;
  }

  .status {
    padding-left: 25%;
  }

  .section  {
    margin: 20px 0px;
    padding-bottom: 10px;
  }


  .radio-status {
    line-height: 24px;
    margin-bottom: 10px;

    input {
      width: 24px;
      height: 24px;
    }

    label {
      font-size: 18px;
      line-height: 35px;
      padding-left: 10px;
    }
  }
}

.review-dashboard-page {
  .submission-row {
    display: flex;

    a {
      color: black;
    }
  }
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}
