.toast {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background-color: $black-transparent;
  color: #c5c5c5;
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  font-size: 16px;

  .toast-message {
    display: flex;
    flex-direction: row;
    align-items: center;

    .toast-body {
      padding: 0 10px;
      display: flex;
      align-items: center;

      h1 {
        font-size: 18px;
        margin: 0;
      }

      p {
        font-size: 16px;
        margin: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .material-icons {
      font-size: 40px;
    }
  }

  .toast-actions {
    margin: 0 auto;
    padding: 0;

    li {
      display: inline;
      padding: 0 1em;
      border-right: 1px solid #7b7b7b;

      &:last-child {
        border-right: 0;
      }
    }

    .mm-minor-action {
      color: #4c8399;
      padding: 0;
    }
  }

  .toast-close {
    color: #c5c5c5;
    opacity: 1;
    align-self: flex-start;

    .material-icons {
      font-size: 16px;
    }
  }
}
