{% extends "base.html" %}
{% load i18n static %}

{% block title %}MIT Bootcamps{% endblock %}

{% block content %}

  <div class="main-content-wrapper">
    <main>
      <div class="page-content">
        <div class="single-column">

          <section class="mdl-card">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">
                {% block error_header %}
                {% endblock %}
              </h2>
            </div>
            <div class="mdl-card__supporting-text">
              {% block error_content %}
              {% endblock %}
            </div>
          </section>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
