<!DOCTYPE html>
<html lang="en">
  <head>
    {% spaceless %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load raven %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    <script type="text/javascript">
    var SETTINGS = {{ js_settings_json|safe }};
    </script>
    {% load render_bundle %}
    {% render_bundle 'common' %}
    {% render_bundle 'sentry_client' %}
    {% render_bundle 'style' %}
    <title>{% block title %}{% endblock %}</title>
    {% block extrahead %}
    {% endblock %}
    {% endspaceless %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
