{% extends "base.html" %}
{% load i18n render_bundle %}

{% block title %}MIT Bootcamps - Error{% endblock %}

{% block headercontent %}
<div id="header"></div>
{% render_bundle 'header' %}
{% endblock %}

{% block content %}
<div class="body-content">
  <div class="container text-center">
    <h1 class="text-capitalize">Oops!</h1>
    <h3 class="text-uppercase">Internal Server Error</h3>
    <div class="errorcode">500</div>
    <div class="bottom-holder">
      <h3 class="text-uppercase">Here's a helpful link to get you back on track:</h3>
      <a class="text-capitalize" href="{{ support_url }}" target="_blank" rel="noopener noreferrer">
          Contact customer support
      </a>
    </div>
  </div>
</div>
{% if request.sentry.id %}
<script>
  Sentry.showReportDialog({
    eventId: '{{ request.sentry.id }}',
    // use the public DSN (dont include your secret!)
    dsn: '{{ js_settings_json.sentry_dsn }}'
  });
</script>
{% endif %}
{% endblock %}
