<!DOCTYPE html>
<html lang="en">
  <head>
    {% spaceless %}
    {% load static %}
    {% load hijack_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load raven %}
    {% include "gtm_head.html" %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="{% url 'background-images-css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
    <script type="text/javascript">
    var SETTINGS = {{ js_settings_json|safe }};
    </script>
    {% load render_bundle %}
    {% render_bundle 'sentry_client' %}
    {% render_bundle 'style' %}
    {% include "analytics.html" %}
    <title>{% block title %}{% endblock %}</title>
    {% block extrahead %}
    {% endblock %}
    {% endspaceless %}
    {% if zendesk_config.help_widget_enabled %}
      <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key={{zendesk_config.help_widget_key}}"> </script>
    {% endif %}
  </head>
  <body>
    {% hijack_notification %}
    {% include "gtm_body.html" %}
    {% block content %}
    {% endblock %}
    {% if zendesk_config.help_widget_enabled %}
      <script type="text/javascript">
        zE('webWidget', 'prefill', {
            name: {
                value: '{{user.name}}',
            },
            email: {
                value: '{{user.email}}',
            }
        });
        // set page title as a search term
        zE('webWidget', 'helpCenter:setSuggestions', { search: document.title });
      </script>
    {% endif %}
  </body>
</html>
