{% load static %}
<script src="https://use.fontawesome.com/987f113d64.js"></script>
<footer id="footer">
  <div class="container">
    <div class="row footer-top">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-6 links-info">
            <h2><a href="https://mitbootcamps.zendesk.com/hc/">Help & FAQ</a></h2>
          </div>
          <div class="col-6 links-info">
            <h2><a href="https://mitbootcamps.zendesk.com/hc/en-us/requests/new">Contact Us</a></h2>
          </div>
        </div>
      </div>
        <div class="col-sm-4 hbspt-form" id="hs_footer_form"></div>
        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          if (typeof hbspt !== 'undefined') {
              hbspt.forms.create({
                portalId: '{{ hubspot_portal_id }}',
                formId: '{{ hubspot_footer_form_guid }}',
                target: '#hs_footer_form'
              });
          }
        </script>
    </div>
    <div class="footer-bottom">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-6">
              <ul class="list-unstyled links">
                <li><a href="{{ resource_page_urls.about_us }}">About MIT Bootcamps</a></li>
                <li><a href="{{ resource_page_urls.how_to_apply }}">Admissions</a></li>
                <li><a href="{{ resource_page_urls.bootcamps_programs }}">Bootcamps Programs</a></li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="list-unstyled links">
                <li><a href="{{ resource_page_urls.terms_of_service }}">Terms of Service</a></li>
                <li><a href="{{ resource_page_urls.privacy_policy }}">Privacy Policy</a></li>
                <li><a href="https://openlearning.mit.edu">MIT Open Learning</a></li>
                <li><a target="_blank" href="https://accessibility.mit.edu">Accessibility</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="address-area">
            <h3>MIT Bootcamps</h3>
            <address class="font-weight-bold">
                <div class="mb-2">Massachusetts Institute Of Technology</div>
                77 Massachusetts Ave, Cambridge, MA 02139, USA
            </address>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="list-unstyled social-networks">
            <li class="facebook"><a href="https://facebook.com/MITBootcamps" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook-f"></i></a></li>
            <li class="linkedin"><a href="https://linkedin.com/company/11182752" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a></li>
            <li class="twitter"><a href="https://twitter.com/MITBootcamps" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
            <li class="youtube"><a href="https://www.youtube.com/MITBootcamps" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube"></i></a></li>
            <li class="instagram"><a href="https://instagram.com/MITBootcamps" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>
            <li class="soundcloud"><a href="https://soundcloud.com/MITBootcamps" target="_blank" rel="noopener noreferrer"><i class="fa fa-soundcloud"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
