{% load static %}
<nav class="navbar navbar-expand-sm navbar-light bg-light" role="navigation">
    <div class="navbar-brand d-flex align-items-center">
        <a class="brand-logo-svg border-right border-dark" href="https://www.mit.edu"></a>
        <div class="bootcamp-link border-left border-dark">
            <a href="/">Bootcamp</a>
        </div>
    </div>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarLinks">
        <ul class="navbar-nav align-items-center ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <!-- Bootcamps dropdown here -->
            <li class="nav-item">
                <a class="nav-link" href="/admissions">Admissions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
            </li>
            {% if not user.is_anonymous %}
                <li class="nav-item">
                    <!-- User dropdown here -->
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
